.signup {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.signup__title {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__title p:nth-of-type(1) {
  font-size: x-large;
  margin-bottom: 5px;
}
.signup__title p:nth-of-type(2) {
  font-size: 1rem;
  margin-top: 5px;
}
.signup__title p:nth-of-type(3) {
  margin-bottom: 5px;
  color: rgb(43, 76, 215);
}
.signup__inputs {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.signup__input {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.signup__input > label {
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.signup__input > input {
  border: none;
  height: 30px;
  font-size: 1.2rem;
  border-bottom: solid 0.5px rgba(198, 198, 198, 0.511);
}
.signup__input > input:focus {
  outline: none;
}
.signup > p {
  margin: 20px 0px;
  font-size: 0.9rem;
  color: rgb(43, 76, 215);
}

.signup > button {
  width: 100%;
  background-color: white;
  color: rgb(43, 76, 215);
  font-weight: bold;
  font-size: medium;
  padding: 20px;
  border: none;
  border-top: solid 0.5px rgba(198, 198, 198, 0.511);
}

@media screen and (max-width: 450px) {
  .signup {
    max-width: 300px;
  }
}
